target/**
*.war
*.ear
*.class

*.pydevproject
.project
.metadeta
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.externalToolBuilders/

*.launch
/.metadata/
